config BSP_USING_BOARD_EH_LB52D_4KB
    bool
    select SOC_SF32LB52X
    select BF0_HCPU
    default y
config FLASH_CONFIG_PAGE_SIZE
    int
    default 4096
config FLASH_CONFIG_BLOCK_SIZE
    int
    default 262144
rsource "../Kconfig.board"
