mainmenu "Sifli Configuration"

config SIFLI_SDK
    string 
    option env="SIFLI_SDK"
    default "."

#SDK configuration	
source "$SIFLI_SDK/Kconfig"

#Application specific configuration
source "../../service/kconfig"
source "../kconfig_hcpu"
config BF0_HCPU
    bool
    default y

config SOLUTION_ALLOC_MEM
    bool
    default y

config CUSTOM_MEM_MAP
    bool 
    default y  

config FREETYPE_TINY_FONT_LITE 
    bool
    default y
    
