if BSP_USING_LCD
    config BSP_LCDC_USING_DBI
        bool "IS DBI(8080) interface"
        def_bool n 

    config BSP_LCDC_USING_JDI_PARALLEL
        bool "IS JDI PARALLEL interface"
        def_bool n 

    choice
        prompt "Select LCD Module"
        default LCD_USING_TYPE1
        config LCD_USING_TYPE1
            bool "240*320 8080"
            select TSC_USING_ADS7846
            select LCD_USING_ILI9341

        config LCD_USING_ROUND_TYPE1
            bool "1.3 round LCD SPI"
            select TSC_USING_IT7257
            select LCD_USING_ST7789V
            select LCD_USING_ST7789H2

            if LCD_USING_ROUND_TYPE1
                config ROW_OFFSET_PLUS
                int "Start line offset"
                default 40
            endif

        config LCD_USING_ROUND_TYPE2
            bool "1.39 round 454RGB*454 DSI LCD"
            select TSC_USING_TMA525B
            select LCD_USING_RM69330
            if LCD_USING_ROUND_TYPE2
                config ROW_OFFSET_PLUS
                int "Start line offset"
                default 0
            endif

        config LCD_USING_ROUND_TYPE3
            bool "1.2 round JDI LCD"
            select LCD_USING_JDI387A

        config LCD_USING_ROUND_TYPE4
            bool "1.32 round 360*360 LCD"
            select LCD_USING_GC9C01

        config LCD_USING_RECT_TYPE
            bool "1.39 rect 386RGB*448 DSI LCD"
            select LCD_USING_RM69090
            if LCD_USING_RECT_TYPE
                config ROW_OFFSET_PLUS
                int "Start line offset"
                default 0
            endif

        config LCD_USING_SQ_TYPE1
            bool "1.5 sqaure LCD SPI"
            select TSC_USING_FT6336
            select LCD_USING_ST7789V
            select LCD_USING_ST7789H2

        config LCD_USING_SQ_TYPE2
            bool "1.3 sqaure LCD SPI2L"
            select TSC_USING_FT6336
            select LCD_USING_ST7789V
            select LCD_USING_ST7789H2

        config LCD_USING_ATK7016_FPGA
            bool "ALIENTEK 7INCH RGB DPI TFTLCD"
            select LCD_USING_ATK7016
            select BSP_LCDC_USING_DPI
    endchoice
    
    config LCD_HOR_RES_MAX
        int
        default 240 if LCD_USING_TYPE1
        default 240 if LCD_USING_ROUND_TYPE1
        default 240 if LCD_USING_ROUND_TYPE2
        default 240 if LCD_USING_ROUND_TYPE3
        default 360 if LCD_USING_ROUND_TYPE4
        default 240 if LCD_USING_RECT_TYPE
        default 240 if LCD_USING_SQ_TYPE1
        default 240 if LCD_USING_SQ_TYPE2
        default 1024 if LCD_USING_ATK7016
        
    config LCD_VER_RES_MAX
        int
        default 240 if LCD_USING_TYPE1
        default 240 if LCD_USING_ROUND_TYPE1
        default 240 if LCD_USING_ROUND_TYPE2
        default 240 if LCD_USING_ROUND_TYPE3
        default 360 if LCD_USING_ROUND_TYPE4
        default 240 if LCD_USING_RECT_TYPE
        default 240 if LCD_USING_SQ_TYPE1
        default 240 if LCD_USING_SQ_TYPE2
        default 600 if LCD_USING_ATK7016
        
    config LCD_DPI
        int
        default 50 if LCD_USING_TYPE1
        default 50 if LCD_USING_ROUND_TYPE1
        default 50 if LCD_USING_ROUND_TYPE2 
        default 50 if LCD_USING_ROUND_TYPE3 
        default 50 if LCD_USING_ROUND_TYPE4 
        default 50 if LCD_USING_RECT_TYPE 
        default 50 if LCD_USING_SQ_TYPE1
        default 50 if LCD_USING_SQ_TYPE2
        default 100 if LCD_USING_ATK7016_DPI

    config BSP_USING_TOUCHD
        bool "Enable touch device"
        default n

if BSP_USING_TOUCHD
    menu "Touch config"
        config BSP_TOUCH_IRQ_FROM_DATASVC
            bool "Touch IRQ using data service in LCPU"
            default n
            depends on BSP_USING_DATA_SVC && SOC_SF32LB55X


        config TSC_MODE
            int "TouchScreen mode"
            default 1
        config ROTATE_LEFT
            int "Rotate angle to left with 0 90 180 270"
            default 0

        config TOUCH_DEVICE_NAME
            string "TOUCH DEVICE NAME"
            default "spi3" if TSC_USING_ADS7846
            default "i2c1" if TSC_USING_IT7257
            default "i2c1" if TSC_USING_FT6336
    endmenu
endif
endif