menu "Power Amplifier"

config PA_USING_AW882XX
    bool  "digital PA AW882XX enable"
    default n
config PA_USING_AW87390
    bool  "analog PA AW87390 enable"
    default n
    if PA_USING_AW87390
        config AW87390_GPIO_PIN
            int "AW87390 Control PIN"
            default 0
    endif 
config PA_USING_AW8155
    bool  "analog PA AW8155 enable"
    default n
    if PA_USING_AW8155
        config AW8155_GPIO_PIN
            int "AW8155 Control PIN"
            default 0
    endif 

endmenu