mainmenu "Sifli Configuration"

config SIFLI_SDK
    string 
    option env="SIFLI_SDK"
    default "."

#SDK configuration	
source "$SIFLI_SDK/Kconfig"

source "../../service/kconfig"
source "../kconfig_hcpu"

config SOLUTION_ALLOC_MEM
    bool
    default y

if RT_USING_DFS
    config RT_USING_DFS_WINSHAREDIR
    bool "Enable shared file system between windows"
    default n
endif


